<div style="display: flex; justify-content: center">
  <mat-spinner style="margin-top: 50px" *ngIf="loading$ | async"></mat-spinner>
  <mat-progress-bar mode="determinate" [value]="completion"></mat-progress-bar>
  <mat-card *ngFor="let p of pages$ | async">
    <mat-card-content [style.width.px]="p.width" [style.height.px]="p.height">
      <span
        *ngFor="let text of p.text; index as i"
        id="text_{{ i }}"
        style="position: absolute"
        [style.top.px]="text[0]"
        [style.left.px]="text[1]"
        [style.width.px]="text[2]"
        [style.height.px]="text[3]"
      >
        {{ text[5] }}
      </span>
    </mat-card-content>
    <mat-card-actions>
      <mat-paginator
        #paginator
        [length]="p.pages"
        [pageSize]="1"
        [pageIndex]="pageInfo.page - 1"
        [hidePageSize]="true"
        (page)="pageEventHandler($event)"
      >
      </mat-paginator>
    </mat-card-actions>
  </mat-card>
</div>
