.card-actions {
  display: flexbox;
  justify-content: center;
  position: relative;
}

.form-field {
  padding-left: 5px;
  display: inline-block;
}

.paginator {
  display: inline;
  float: inline-end;
  position: absolute;
}
