<div>
  <mat-form-field>
    <mat-label>Kode Buku</mat-label>
    <input matInput #input [formControl]="buku" required (submit)="submit()">
    <button mat-icon-button *ngIf="buku.value" (click)="buku.value=''" [attr.aria-label]="'Reset'">
      <mat-icon>delete</mat-icon>
    </button>
    <mat-error *ngIf="buku.hasError('required')">Kode buku wajib diisi</mat-error>
    <mat-error *ngIf="buku.hasError('pattern')">Kode buku tidak valid</mat-error>
    <mat-error *ngIf="error|async">Error buku tidak ditemukan di rbv</mat-error>
  </mat-form-field>
  <button mat-button *ngIf="buku.value && buku.valid" (click)="submit()">
    Cari
  </button>
</div>