<div>
  <mat-form-field>
    <mat-label>Kode Buku</mat-label>
    <input matInput #input [formControl]="buku" required (submit)="submit()" />
    <button
      mat-icon-button
      *ngIf="buku.value"
      (click)="buku.setValue('')"
      aria-label="Reset"
      matSuffix
    >
      <mat-icon>delete</mat-icon>
    </button>
    <mat-error *ngIf="buku.hasError('required')"
      >Kode buku wajib diisi</mat-error
    >
    <mat-error *ngIf="buku.hasError('pattern')"
      >Kode buku tidak valid</mat-error
    >
    <mat-error *ngIf="error | async"
      >Error buku tidak ditemukan di rbv</mat-error
    >
  </mat-form-field>
  <button
    mat-button
    (click)="submit()"
    [disabled]="!(buku.value && buku.valid)"
  >
    Cari
  </button>
</div>
