<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title>
      <mat-icon mat-list-icon>library_books</mat-icon>
      {{ buku.id }}
    </mat-panel-title>
    <mat-panel-description>
      {{ buku.name || buku.id }}
    </mat-panel-description>
  </mat-expansion-panel-header>
  <mat-list>
    <div mat-subheader>Modul</div>
    <button (click)="delete()">
      <mat-icon>delete</mat-icon>
    </button>
    <mat-divider></mat-divider>
    <a
      mat-list-item
      class="modul-list"
      *ngFor="let modul of buku.modul"
      [routerLink]="['/read', buku.id, modul.doc, 1]"
    >
      <mat-icon mat-list-icon>book</mat-icon>
      <div mat-line>{{ modul.nama }}</div>
      <div mat-line>{{ modul.end }} halaman</div>
    </a>
  </mat-list>
</mat-expansion-panel>
